<!-- Page Title -->
<div class="page-title" data-aos="fade">
    <div class="container">
      <h1>{{ title }}</h1>
      <nav class="breadcrumbs">
        <ol>
          <li><a routerLink="/#hero">Home</a></li>
          <li class="current">{{ title }}</li>
        </ol>
      </nav>
    </div>
  </div>
  
  <!-- Starter Section -->
  <section id="starter-section" class="starter-section section">
    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>{{ sectionTitle }}</h2>
      <p><span>{{ subtitle }}</span> <span class="description-title">{{ description }}</span></p>
    </div>
  
    <div class="container" data-aos="fade-up">
      <p>{{ content }}</p>
    </div>
  </section>
  