<nav>
  <app-header></app-header>
</nav>

  
  <div>  

    <main>
      <section id="home"><app-home></app-home></section>
      <section id="about"><app-about></app-about></section>
      <section id="why-us"><app-why-us></app-why-us></section>
      <section id="stats"><app-stats></app-stats></section>
      <section id="menu"><app-menu></app-menu></section>
      <section id="testimonials"><app-testimonials></app-testimonials></section>
      <section id="events"><app-events></app-events></section>
      <section id="chefs"><app-chefs></app-chefs></section>
      <section id="book-table"><app-book-table></app-book-table></section>
      <section id="gallery"><app-gallery></app-gallery></section>
      <section id="contact"><app-contact></app-contact></section>
    </main>
    
  </div>
  
  <footer>
    <app-footer></app-footer>
  </footer>
  