<header id="header" class="header d-flex align-items-center sticky-top">
    <div class="container position-relative d-flex align-items-center justify-content-between">
      <a routerLink="/" class="logo d-flex align-items-center me-auto me-xl-0">
        <h1 class="sitename">Yummy</h1>
        <span>.</span>
      </a>
  
      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="#home">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#menu">Menu</a></li>
          <li><a href="#events">Events</a></li>
          <li><a href="#chefs">Chefs</a></li>
          <li><a href="#gallery">Gallery</a></li>
          <li><a href="#contact">Contact</a></li>
          <li><a (click)="navigateToCart()">Cart</a></li>
          <li><a (click)="navigateToRegister()">Register</a></li>
          <li *ngIf="!userName"><a (click)="navigateToLogin()">Login</a></li>
          <li *ngIf="userName"><a (click)="navigateToProfile()">{{ userName }}</a></li>
        </ul>
      </nav>
      
      <a class="btn-getstarted" routerLink="/#book-a-table">Book a Table</a>
    </div>
  </header>
  