<header><app-header></app-header></header>
  <div class="container">
    <h2>Checkout</h2>
  
    <div *ngIf="cartItems.length > 0">
      <h4>Your Order:</h4>
      <table class="table">
        <thead>
          <tr>
            <th>Food Name</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of cartItems">
            <td>{{ item.name }}</td>
            <td>{{ item.price }}</td>
          </tr>
        </tbody>
      </table>
      <h4>Total Price: ${{ totalPrice }}</h4>
  
      <button (click)="placeOrder()" class="btn btn-success">Place Order</button>
    </div>
  
    <div *ngIf="cartItems.length === 0">
      <p>Your cart is empty. <a routerLink="/">Go to Menu</a></p>
    </div>
  </div>
  
<footer><app-footer></app-footer></footer>
